<h1><%= @product["name"] %> by <%= @product["brand"]%></h1>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Brand</th>
      <th>Name</th>
      <th>Category</th>
      <th>Post Date</th>
      <th>post id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@product["votes"]%></td>
      <td><%=@product["brand"]%></td>
      <td><%=@product["name"]%></td>
      <td><%=@product["title"] %></td>
      <td><%=@product["ptime"]%></td>
      <td><%=@product["id"] %></td>
    </tr>
  </tbody>
</table>
<h3>Description:</h3>
<p><%= @product["dscrp"] %></p>