
<table>
  <caption><h1>Product Reviews</h1></caption>
  <% if @success %>
    <caption>
      <h3><%= @success %></h3>
    </caption>
  <% end %>
  <% if @login_success %>
    <caption>
      <h3><%= @login_success %></h3>
    </caption>
  <% end %>
  <thead>
    <tr>
      <th class="order">Votes</th>
      <th>Brand</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Post Date</th>
    </tr>
  </thead>
  <tbody>
    <% prods_w_cats.each do |product| %>
      <tr data-product-id="<%= product['id'] %>">
        <!-- <td><%= product['id'] %></td> -->
        <td class="votes" data-href="/products/<%= product['id'] %>">
          <div class="upvote">
            <a href="/upvote/<%= product['id'] %>">&#11014;</a>
          </div>
          <div>
            <%= product['votes']%>
          </div>
          <div class="downvote">
            <a href="/downvote/<%= product['id'] %>">&#11015;</a>
          </div>
          </td>
        <td class="prod-cell" data-href="/products/<%= product['id'] %>">
          <%= product['brand']%>
        </td>
        <td class="prod-cell" data-href="/products/<%= product['id'] %>">
          <%= product['name']%>
        </td>
        <td class="prod-cell" data-href="/products/<%= product['id'] %>">
          <%= product['title'] %>
        </td>
        <td class="prod-cell" data-href="/products/<%= product['id'] %>">
          <%= product['ptime']%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>